{% extends "base.html" %}
{% block content %}
<main role="main" class="container">


    <div class="content-section">
        <div class="row">
            <div class="col-md-12" style="background-color:rgb(39, 45, 83);color:white;padding:20px">
                Update your profile here!
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="media">

            <div class="media-body">
                <h2 class="account-heading">{{ current_user.user_name }}</h2>
                <p class="text-secondary">{{ current_user.user_email }}</p>
            </div>
        </div>
        <!-- FORM HERE -->

        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group">
                    {{ form.user_name.label(class="form-control-label")}}

                    {% if form.user_name.errors %}
                    {{ form.user_name(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.user_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}

                    </div>
                    {% else %}
                    {{ form.user_name(class="form-control form-control-lg") }}
                    {% endif %}


                </div>
                <div class="form-group">
                    {{ form.user_email.label(class="form-control-label")}}
                    {% if form.user_email.errors %}
                    {{ form.user_email(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.user_email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}

                    </div>
                    {% else %}
                    {{ form.user_email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>


    </div>


</main>
{% endblock content %}
