{% extends "base.html" %}
{% block content %}
<main role="main" class="container">

    <div class="col-md-12" style="background-color:rgb(39, 45, 83);color:white;padding:20px">
        W e l c o m e !!! to the user's dashboard
    </div>
    </div>
    <br>
    <br>
    <br>
    <br><hr>
    <div class="container">
        <pre style="background-color: black; color:aliceblue">&nbsp;&nbsp;&nbsp;&nbsp;As a user you have this many options available :</pre>
        <hr>
        <button><a href="{{ url_for('users.request_account') }}">Request bank account</a></button>&nbsp;&nbsp;
        <button>card request</button>&nbsp;&nbsp;
        <button>Loan request</button>&nbsp;&nbsp;
        <button>Insurance request</button>&nbsp;&nbsp;
        <button>add Fixed deposit</button>
        <hr>
        <div class="row">
            <div class="col-md-4" style="text-align:center">
                <!-- <img src="{{url_for('static', filename='pics/fixed_deposit.png')}}" alt="fttgh" width="100%"> -->
                8000
                <hr>
                <button>saving balance</button>
            </div>
            <div class="col-md-4" style="text-align:center">
                <!-- <img src="{{url_for('static', filename='pics/fixed_deposit.png')}}" alt="fttgh" width="100%"> -->
                95000
                <hr>
                <button>Current balance</button>
            </div>
            <div class="col-md-4" style="text-align:center">
                <!-- <img src="{{url_for('static', filename='pics/fixed_deposit.png')}}" alt="fttgh" width="100%"> -->
                10,0531
                <hr>
                <button>Total fixed deposits balance</button>
            </div>

        </div>
        <br>
        <hr>
        <br>
        <div class="row">
            <div class="col-md-4" style="text-align:center">
                <!-- <img src="{{url_for('static', filename='pics/fixed_deposit.png')}}" alt="fttgh" width="100%"> -->
                10500
                <hr>
                <button>last one month total Credit balance</button>
            </div>
            <div class="col-md-4" style="text-align:center">
                <!-- <img src="{{url_for('static', filename='pics/fixed_deposit.png')}}" alt="fttgh" width="100%"> -->
                15004
                <hr>
                <button>last one month total Debited balance</button>
            </div>
            <div class="col-md-4" style="text-align:center">
                <!-- <img src="{{url_for('static', filename='pics/fixed_deposit.png')}}" alt="fttgh" width="100%"> -->
                10515
                <hr>
                <button>saving balance</button>
            </div>

        </div>
        <br>
        <hr>
        <br>

    </div>



</main>
{% endblock content %}